.advantages{
    margin-top: 144px;
}

.advantages__item{
    display: flex;
    flex-direction: column;
    width: 330px;
}

.advantages__title-link{
    display: flex;
    justify-content: center;
}

.advantages__img{
    width: 90px;
    height: 90px;
}

.advantages__list{
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 105px;
    row-gap: 35px;
    justify-content: center;
}
.advantages__title-name{
    color: #141414;
    font-family: Playfair Display;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
     max-width: 226px;
     margin-top: 20px;
     max-width: 309px;
}

.advantages__text{
    font-size: 18px;
    line-height: 165%; /* 29.7px */
    letter-spacing: 0.36px;
    max-width: 330px;
}
