.hero{
    width: 100vw;
    height: 925px;
    flex-shrink: 0;
    background: #EBF3F5;
    position: relative;
    overflow: hidden;
}
.hero::after{
    content: "";
    position: absolute;
    z-index: 2;
    margin-left: 52%;
    width: 100vw;
    height: 925px;
    top: 0;
    overflow: hidden;
    background: url(../../img/hero/Background.png);
}


.hero__block{
    position: absolute;
    z-index: 3;
    left: 52%;
    width: 561px;
    height: 663px;
    flex-shrink: 0;
    border: 10px solid #FFF;
    box-shadow: 0px 20px 60px 0px rgba(47, 68, 73, 0.46);
    border-left: none;
    margin-top: 125px;  
    animation: appear 3s 1; 
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.5;
    }
    
    70%{
        opacity: 0.8;
    }
}

@keyframes appearLeft{
    0%{
        opacity: 0;
        margin-left: 0;
        
    }
    20%{
        margin-left: 15%;
        opacity: 0.4;
    }
}

.hero__block::after{
    content: "";
    background: url(../../img/hero/telka.jpg) no-repeat;
    position: absolute;
    z-index: 14;
    left: 52%;
    width: 623px;
    height: 500px;
    flex-shrink: 0;
    transform: translate(-60%);
    margin-top: 12%;
    animation: appearLeft 2.7s 1; 
}

.hero__contant{
    display: flex;
}

.hero__info{
    width: 510px;
    margin-left: 103px;
    margin-top: 200px;
    animation: appear 2s 1; 
}
.hero__info > .btn{
    margin-top: 34px;
    padding: 23px 36px;
    
}
.hero__main-text{
    display: flex;
    gap: 9px;
    align-items: center;
}

 .hero__icon{
    transform: translateY(-4px);
}
.hero__title{
    margin-top: 0px;
    font-size: 70px;
    line-height: 115%; /* 80.5px */
    letter-spacing: -0.7px;
    max-width: 510px;
}
.hero__info-text{
    font-size: 19px;
    font-weight: 400;
    line-height: 170%; /* 32.3px */
    margin-top: -24px;
}


.main-hero{
    width: 100vw;
    background-image: url(../../img/hero/Background.png);
    animation: appearAbout 2s 1;
}

.about-hero__contant{
    padding: 118px 0 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    animation: appear 4s 1; 
}

@keyframes appearAbout{
    0%{
        opacity: 0.2;
        margin-bottom: 0;
        padding: 100%;
    }
    20%{
        opacity: 0.5;
        padding: 50%;
    }
    50%{
        opacity: 0.8;   
    }
}

.about-hero .title-link{
    color: #FFF;
    display: flex;
    justify-content: center;
}

/* .about-hero .title{
    color: #FFF;
} */

.about-hero__title{
    max-width: 649px;
    color: #FFF;
    text-align: center;
    font-size: 55px;
    line-height: 120%; /* 66px */
    letter-spacing: -0.55px;
}
.about-hero__title-link{
    color: #FFF;
    font-family: Manrope;
}

.about-hero .btn__title, .main-hero .btn__title{
    margin-top: 32px;
    align-self: center;
    padding: 23px 36px  24px 36px;
}

.contact-hero__title{
    max-width: 635px;
}

