.news{
    margin-top: 145px;
}

.news__list{
    margin-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.news__contant{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.news__title-link{
    display: flex;
    justify-content: center;
}


.news__item{
    display: flex;
    flex-direction: column;
    
}

.news__block{
    background-color: var(--block-bg-color);
    padding: 30px 27px;
    display: flex;
    flex-direction: column;
}

.news-block__title-link{
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dash{
    width: 19.786px;
    height: 2px;
    background: #272D32;
    margin: 0 6px 0 6px;   
}

.news-block__title-name{
    max-width: 289.866px;
    font-size: 22px;
    text-align: start;
    margin-top: 8px;
}

.news__text{
    max-width: 317.567px;
    font-size: 18px;
    line-height: 155%; /* 27.9px */
    letter-spacing: 0.36px;
    margin-top: 14px;
}   

.news__item-btn{
    display: flex;
    justify-content: center;
}